<h1>Listing articles</h1>

<%= link_to 'New article', new_blogg_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |blogg| %>
      <tr>
        <td><%= blogg.title %></td>
        <td><%= blogg.text %></td>
        <td><%= link_to 'Show', blogg_path(blogg) %></td>
        <td><%= link_to 'Edit', edit_blogg_path(blogg) %></td>
        <td><%= link_to 'Destroy', blogg_path(blogg),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>

  <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
  <% end %>
</table>